# Ambiente virtual
venv/
env/

# Arquivos Python compilados
*.pyc
__pycache__/
*.pyo
*.pyd

# Arquivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Arquivos de ambiente
.env
.env.local

# Arquivos de distribuição
dist/
build/
*.egg-info/

# Arquivos de cache
.pytest_cache/
.coverage
htmlcov/

# Arquivos do sistema
.DS_Store
Thumbs.db